<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magick.NET-Q8-AnyCPU" version="7.14.5" targetFramework="net47" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net47" />
  <package id="Microsoft.Net.Compilers.Toolset" version="3.3.1" targetFramework="net47" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net47" />
  <package id="Salaros.ConfigParser" version="0.3.3" targetFramework="net47" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net47" />
  <package id="SixLabors.Core" version="1.0.0-beta0008" targetFramework="net47" />
  <package id="SixLabors.ImageSharp" version="1.0.0-beta0007" targetFramework="net47" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net47" />
  <package id="System.Memory" version="4.5.1" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net47" />
</packages>