<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magick.NET-Q8-AnyCPU" version="7.14.4" targetFramework="net47" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net47" />
  <package id="Salaros.ConfigParser" version="0.3.3" targetFramework="net47" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net47" />
</packages>